

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: monospace;
}
/* page header */
.navheader{
    background-color: #3C2C5B;
    height:10rem;
}
body{
    background-color:#ffffff ;
}
nav
{
    position: sticky;
    top: 0;
    height: 100vh;
    background: #3C2C5B;
    overflow: hidden;
    border: 1px solid;
    box-shadow: 1px 2px 15px rgb(29, 2, 59);
}
.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #A58ADA;
}
.btnSignUp{
    background-color: white;
    border: 1px solid #3C2C5B;
    border-radius: 5%;
}
.btnHeader:hover{
    background-color:#28a745 ;
}
.liHeader:hover{
background-color: #A58ADA;
border-radius: 5%;
}

/* login page  */
.Login_Title{
    margin-left: 12rem;
    font-size: 40px;
    overflow: hidden;
}
.LoginForm {
margin-left: 14rem;
}

#imgmen{
    margin-left: 8rem
}
strong{
    color: #FF9EDD;
}
/* input[type=text] {
    background-color: #FF9EDD;
}

input[type=email] {
    background-color: #FF9EDD;
}
input[type=password] {
    background-color: #FF9EDD;
} */
.circle{
    width: 70rem;
    height: 70rem;
    background-color: #8E8E8E;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: -18rem;
    z-index: -100;
}
.circle2{
    width: 70rem;
    height: 70rem;
    background-color: #8E8E8E;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: -18rem;
    z-index: -100; 
}